{% import "macros.html" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Buy Word Smashing!</title>
    <meta name="description"
          content="An Utterly Addicting Word Game, Fun For Everyone! Play This Addicting New Word Puzzle, Now For Free!">

    <meta name="keywords" content="puzzle games, word finder, crossword, free online puzzle games, word puzzle game">
    <meta property="og:title" content="Word Smashing - Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="Play Word Smashing! The Utterly Addicting and Fun Word Puzzle Game, Now For Free!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers(ws, highscores, achievements, blocked_spaces) }}
    <script type="text/javascript">
    {% if current_user.name %}
    var needsRefresh = false;
    {% else %}
    var needsRefresh = true;

    {% endif %}
    </script>
</head>
<body>
  {{ macros.fbstuff() }}
<div id="pagebody">
    <div id="container">
        <div id="main">
        	<div id="logo">

                <a href="http://www.wordsmashing.com" title="Word Smashing Word Puzzle Game">
                    <img src="/img/wordsmashing_logo.png" alt="Word Smashing" title="Word Smashing" width="250" height="184"/>

                </a>

		      <div id="login">
                {{ macros.loginoutbutton() }}
			  </div>
	        </div>
            {% if current_user.gold %}
                <p class="lead">You already have Word Smashing! <a href="http://www.wordsmashing.com/campaign" title="Play Word Smashing">Play Campaign!</a></p>

            {% else %}
                <p id="logintobuy" class="lead">
                    {% if current_user.name %}
                        Hi, {{ current_user.name }} Your purchase will be asscociated with your {% if current_user.profile_url %}Facebook{% else %}Google{% endif %} account!<br/><br/>
                    {% else %}
                        Log in with Facebook or Google!<br/><br/>
                        <a style="margin:10px;" href="{{ glogin_url }}" title="Login With Google"><img src="/img/google-icon-64.png" alt="Google Login"/></a>
                        <a href="#" onclick="fb_login();return false" title="Login With Facebook"><img src="/img/facebook-icon-64.png" alt="Facebook Login"/></a><br/><br/>
                        Your purchase will be asscociated with your account.<br/><br/>
                    {% endif %}

                </p>
                <p style="text-align: center;margin:15px">{{ macros.paypalbuyform() }}</p><br/>
                
            {% endif %}

                <table id="gametable" border="1" style="display:none">
                <tr>
                    <td>

                    </td>

                </tr>
            </table>
            <span class="fb-like" data-href="https://www.facebook.com/WordSmashing" data-send="true" data-width="450" data-show-faces="true"></span>
            {{ macros.shareBtnsHorizontal() }}
            <div id="showscore0">
                <button style="display: none"></button>
            </div>
            <div id="showscore1">
                <button style="display: none"></button>
            </div>
            <div id="showscore2">
                <button style="display: none"></button>
            </div>
            <div id="showscore3">
                <button style="display: none"></button>
            </div>
        </div>
        <div id="gameoptions" style="display:none">
            <div id="score" onclick="showHighScores()">
                <button class="btn btn-large btn-danger" type="button">Score: 0</button>
            </div>
			<div id="newgame">
            	<button class="btn btn-large btn-danger" onclick="newGame()" type="button">New Game!</button>
			</div>
			<div id="difficulty">
            	<button id="changedifficultybutton" class="btn btn-large btn-danger" onclick="showChangeDifficultyDialog()" type="button">Difficulty: Easy</button>
			</div>
        </div>
        <div class="clear"></div>
    </div>
		
    <div class="clear">
    </div>
	<div id="footer">
		<p>
			<a href="http://www.wordsmashing.com/contact" title="Contact Us">Contact</a> 
			<a href="http://www.wordsmashing.com/about" title="About Word Smashing">About Us</a>
			<a href="http://www.wordsmashing.com/terms" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
		    <a href="http://www.wordsmashing.com/privacy-policy" title="Privacy Policy">Privacy Policy</a> 
		    <span>© 2013 Word Smashing</span>
            <a href="http://www.facebook.com/WordSmashing" title="Word Smashing on Facebook" target="_blank">
		        <img src="/img/facebook.jpg" alt="Word Smashing on Facebook" width="144px" height="44px">
		    </a>
			<div class="g-plus" data-href="//plus.google.com/116949277834973226564" data-rel="publisher"></div>

			<!-- Place this tag after the last badge tag. -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script><br/>
		    <a href="https://twitter.com/Wordsmashing" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Wordsmashing</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</p>
	</div>
	<div class="clear">
	</div>
</div>
</body>
</html>
