{% import "templates/macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Word Smashing - Fun and Free Word Puzzle Game</title>
    <meta name="description"
          content="All About Word Smashing, The Addicting and Fun Word Game. Play This Addicting New Word Puzzle, Now For Free!">

    <meta name="keywords" content="puzzle games, word finder rules, crossword, game rules, word puzzle game">
    <meta property="og:title" content="About Word Smashing The Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_logo.png">
    <meta property="og:description"
          content="About Word Smashing. Learn how to play the addicting new puzzle game. Find Strategies, Rules and More.">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers(ws, highscores, achievements, blocked_spaces) }}

</head>
<body>
{{ macros.fbstuff() }}
<div id="pagebody">
    <div id="container">
        <div id="main">
            <div id="logo">
                <a href="/" title="Word Smashing Word Puzzle Game">
                    <img src="/static/img/wordsmashing_logo.png" alt="Word Smashing" title="Word Smashing" width="250"
                         height="184"/>
                </a>

                <div id="login">
                    {{ macros.loginoutbutton() }}
                    {{ macros.jplayer() }}
                </div>
            </div>

            <table id="gametable" border="1">
                <tr>
                    <td>

                    </td>

                </tr>
            </table>
            <div class="fb-like" data-href="https://www.facebook.com/WordSmashing" data-send="true" data-width="450"
                 data-show-faces="true"></div>
            {{ macros.shareBtnsHorizontal() }}
            <div id="showscore0">
                <button style="display: none"></button>
            </div>
            <div id="showscore1">
                <button style="display: none"></button>
            </div>
            <div id="showscore2">
                <button style="display: none"></button>
            </div>
            <div id="showscore3">
                <button style="display: none"></button>
            </div>
        </div>
        <div id="gameoptions">
            {{ macros.standardgameoptions() }}
        </div>
        <div id="bannerAdd">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* word game vert */
            google_ad_slot = "3713734958";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>

        </div>

        <div id="instructions">

            <h1>About Word Smashing</h1>

            <p class="lead">Word smashing is a brand new, free online word search puzzle. It offers free addicting fun
                for the whole family. Be puzzled and build your brain today by playing Word Smashing. </p>

            <p class="lead"><b>Instructions:</b><br/>
                Make Words for points and to clear space!<br/>
                Click a letter and click on an empty space to move it there.<br/>
                You will only be able to move if there is a clear path.<br/>
                Every turn three new letters will grow into the game.<br/>
                Its game over when the board is filled with letters!<br/>
                Get two words in one turn and get combos by making words every turn for bonus points.<br/>
                On Easy You can make words with 2 or more letters.<br/>
                On Medium You can make words with 3 or more letters.<br/>
                On Hard You can only make words with 4 or more letters!<br/>
                Some place names and peoples names do not count as words.
            </p>
        </div>
        <div class="clear"></div>
        <div id="btm">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* big h default */
            google_ad_slot = "3155331752";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>


        </div>
    </div>

    <div class="clear">
    </div>
    {{ macros.footer() }}
    <div class="clear">
    </div>
</div>
</body>
</html>
