{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'About Word Smashing - Fun and Free Word Puzzle Game' -%}
    {% set description = 'All About Word Smashing, The Addicting and Fun Word Game. Play This Addicting New Word Puzzle, Now For Free!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="puzzle games, word finder rules, instructions, game rules, word puzzle game">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_logo.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/about.jinja2" %}
{% endblock %}


