{% import "templates/macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Learn English With Word Smashing Addicting &amp; Fun Word Puzzle Game</title>
    <meta name="description"
          content="Learn English Playing Word Smashing! Learn English With This Addicting New Word Puzzle, For Free!">

    <meta name="keywords" content="learn english, english games for kids, learn english words, free online puzzle games, word puzzle games for kids">
    <meta property="og:title" content="Word Smashing - Learn English With Word Puzzle Games!">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="Word Smashing! An Utterly Addicting and Fun Word Puzzle and Brain Training Game, For Free!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">


    {{ macros.headers(ws, highscores, achievements, blocked_spaces) }}

</head>
<body>
  {{ macros.fbstuff() }}
  <div id="pagebody">
    <div id="container">
        <div id="main">
        	<div id="logo">
                <a href="/" title="Word Smashing Word Puzzle">
                    <img src="/static/img/wordsmashing_logo.png" alt="Word Smashing" title="Word Smashing" width="250" height="184"/>
                </a>
		        <div id="login">
                {{ macros.loginoutbutton() }}
                    {{ macros.jplayer() }}
			    </div>
	        </div>
            <table id="gametable" border="1" style="display:none">
                <tr>
                    <td>

                    </td>

                </tr>
            </table>
            <span class="fb-like" data-href="https://www.facebook.com/WordSmashing" data-send="true" data-width="450" data-show-faces="true"></span>
            {{ macros.shareBtnsHorizontal() }}
            <div id="showscore0">
                <button style="display: none"></button>
            </div>
            <div id="showscore1">
                <button style="display: none"></button>
            </div>
            <div id="showscore2">
                <button style="display: none"></button>
            </div>
            <div id="showscore3">
                <button style="display: none"></button>
            </div>
        </div>
        <div id="instructions">

            <h1>Learn English Playing Word Games!</h1>
            <p class="lead">
              <br/>
                Which english words are you going to learn?<br/>
                {% for key, level in learnenglishlevels.iteritems() %}
                <a class="english-level-btn-link btn btn-large btn-danger" href="/learn-english/{{ key }}" title="Learn English {{ level.name }}">{{ level.name }}</a>
                {% endfor %}
                <br/>
                Make as many of that type of word as you can!<br/>
                Looking for another challenge? <a href="/timed" title="Play Word Smashing Time Trials">Play Word Smashing Time Trials</a> or <a href="/multiplayer" title="Play Word Smashing Multiplayer Mode">Play Word Smashing VS mode</a>!<br/>
            </p>
            <div id="btm">
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-7026363262140448";
                /* big h default */
                google_ad_slot = "3155331752";
                google_ad_width = 728;
                google_ad_height = 90;
                //-->
                </script>
                <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>


            </div>
        </div>
        <div id="gameoptions" style="display:none">
            {{ macros.standardgameoptions() }}

        </div>
        <div id="bannerAdd" style="margin-top:-110px;">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* word game vert */
            google_ad_slot = "3713734958";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>

        </div>

        <div class="clear"></div>
    </div>

    <div class="clear">
    </div>
    {{ macros.footer() }}
	<div class="clear">
	</div>
</div>

</body>
</html>
