{% import "templates/macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Word Smashing Level {{ level_num }} The Fun Word Puzzle Game</title>
    <meta name="description"
          content="Brilliant New Word Game Level {{ level_num }}, Fun For Everyone with Tonnes of levels! Play For Free!">

    <meta name="keywords" content="fun puzzle games, fun, crossword, fun online puzzle games, word puzzle game">
    <meta property="og:title" content="Level {{ level_num }} Word Smashing- Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="Get Word Smashing Free! Just Share This Link! Limited Time Only!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers(ws, highscores, achievements, level) }}
    <script type="text/javascript">
        {% if level_num == 1 %}
            $(function () {
                {% if current_user.gold %}
                    modal.open({content: '<p class="lead">Tiles can now be blocked!<br/><br/>' +
                            'But don\'t worry! Tiles with locks can be unlocked by scoring a word nearby!<br/><br/>' +
                            'Break all the locks to win!</p>' +
                            '<button class="btn btn-large btn-success" onclick="modal.close()" title="Play Next Level" type="button">Okay !</button>'
                    });
                {% else %}
                    // modal.open({
                    //     'content': $('#calltoactionpopup').html()
                    // });
                {% endif %}
            });
        {% endif %}
        function winViaBreakingAllLocks() {
            $.ajax({
                "url": "/savelevelsunlocked",
                "data": {"levels_unlocked":{{ level_num }}},
                "success": function (text) {
                },
                "type": "GET",
                "cache": false,
                "error": function (xhr, error, thrown) {
                    if (error == "parsererror") {
                    }
                }
            });
            extraContent = ''
            {% if level_num < num_levels %}
                extraContent += '<a class="btn btn-large btn-success" href="/campaign/level{{ level_num + 1 }}" title="Play Next Level">Next Level!</a>'
            {% else %}
                extraContent += '<p class="lead">Congratulations!! You have finished the final level!!</p>'
            {% endif %}

            if (difficulty == EASY) {
                extraContent += '<br/><br/><a class="btn btn-large btn-success" onclick="changeDifficulty(MEDIUM)" title="Play On Medium">Play Again On Medium!</a>'
            }
            if (difficulty == MEDIUM) {
                extraContent += '<br/><br/><button class="btn btn-large btn-success" onclick="changeDifficulty(HARD)" title="Play On Hard">Play Again On Hard!</button>'
            }
            modal.open({content: '<p class="lead">Congratulations you won by breaking all the locks!</p>' +
                    extraContent
            });
        }
    </script>
</head>
<body>
{{ macros.fbstuff() }}
<div id="pagebody">
    <div id="container">
        <div id="main">
            <div id="logo">
                <a href="http://www.wordsmashing.com" title="Word Smashing Word Puzzle Game" target="_blank">
                    <img src="/static/img/wordsmashing_logo.png" alt="Word Smashing" title="Word Smashing" width="250"
                         height="184"/>
                </a>

                <div id="login">
                    {{ macros.loginoutbutton() }}
                    {{ macros.jplayer() }}
                </div>
            </div>
            {% if current_user.gold %}
                <table id="gametable" border="1">
            {% else %}
                <div id="calltoactionpopup">
                {% if current_user.name %}
                    {{ macros.buyLink() }}
                {% else %}
                    <p id="mustsignin" class="lead">Login with your gold account to play!</br>
                        <a style="margin:10px;" href="{{ glogin_url }}" title="Login With Google"><img
                                src="/static/img/google-icon-64.png" alt="Google Login"/></a>
                        <a href="#" onclick="fb_login();return false;" title="Login With Facebook"><img
                                src="/static/img/facebook-icon-64.png" alt="Facebook Login"/></a></p>
                {% endif %}
                <table id="gametable" border="1" style="display:none">
            {% endif %}
            <tr>
                <td>

                </td>

            </tr>
            </table>
            {% if not current_user.gold %}
                <p id="campaign-for-free" class="lead">Or get Word Smashing Campaign for Free! <br/>Just click below to
                    share us and click done!</p>
            {% endif %}
            <div id="sharestuff">
                <span class="fb-like" data-href="https://www.facebook.com/WordSmashing" data-send="true"
                      data-width="450" data-show-faces="true"></span>
                {{ macros.shareBtnsHorizontal() }}
            </div>
            <div id="sharearea" onclick="showdonesharingbtn()">
            </div>
            {% if not current_user.gold %}
                <button id="donesharing" class="btn btn-large btn-warning" disabled="disabled" onclick="makegold()">
                    Done!
                </button>
                </div>
            {% endif %}
            <div id="showscore0">
                <button style="display: none"></button>
            </div>
            <div id="showscore1">
                <button style="display: none"></button>
            </div>
            <div id="showscore2">
                <button style="display: none"></button>
            </div>
            <div id="showscore3">
                <button style="display: none"></button>
            </div>
        </div>
        <div id="gameoptions">
            {{ macros.standardgameoptions() }}
        </div>
        <div id="bannerAdd">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* word game vert */
            google_ad_slot = "3713734958";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>

        </div>

        <div id="instructions">

            <h1>Word Smashing Campaign Level {{ level_num }}</h1>

            <p class="lead"><b>Instructions: </b>Make Words for points and to clear space!<br/>
                Click a letter and click on an empty space to move it there.<br/>
                You will only be able to move if there is a clear path.<br/>
                Every turn three new letters will grow into the game.<br/>
                Its game over when the board is filled with letters!<br/>
                Get two words in one turn and get combos by making words every turn for bonus points.<br/>
                On Easy You can make words with 2 or more letters.<br/>
                On Medium You can make words with 3 or more letters.<br/>
                On Hard You can only make words with 4 or more letters!<br/>
                Looking for a harder challenge? <a href="/timed" title="Play Word Smashing Time Trials">Play Word
                    Smashing Time Trials</a>.<br/>
                Some place names and peoples names do not count as words.
            </p>
        </div>
        <div class="clear"></div>
        <div id="btm">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* big h default */
            google_ad_slot = "3155331752";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>


        </div>
    </div>

    <div class="clear">
    </div>
    {{ macros.footer() }}
    <div class="clear">
    </div>
</div>

</body>
</html>
