{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Privacy Policy Word Smashing - Addicting and Fun Word Puzzle Game' -%}
    {% set description = 'Word Smashing Privacy Policy. Play This Addicting New Word Puzzle, Free Fun For Everyone!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="puzzle games, word smashing privacy, crossword, game, word puzzle game">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/static/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/privacy.jinja2" %}
{% endblock %}


