{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Word Smashing - Versus Mode!' -%}
    {% set desc = 'Fight Your Friends Or A Computer With Whacky Words! Play Word Smashing Versus Mode!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ desc }}">

    <meta name="keywords" content="puzzle games, word finder, crossword, free online puzzle games, word puzzle game">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="{{ desc }}">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">


{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/versus.jinja2" %}
{% endblock %}
