<div class="article-theme">

    <h1>About Word Smashing</h1>

    <p class="lead">Word smashing is a brand new, free online word search puzzle. It offers free addicting fun
        for the whole family. Be puzzled and build your brain today by playing Word Smashing. </p>

    <p class="lead"><b>Instructions:</b><br/>
        Make Words for points and to clear space!<br/>
        Click a letter and click on an empty space to move it there.<br/>
        You will only be able to move if there is a clear path.<br/>
        Every turn three new letters will grow into the game.<br/>
        Its game over when the board is filled with letters!<br/>
        Get two words in one turn and get combos by making words every turn for bonus points.<br/>
        On Easy You can make words with 2 or more letters.<br/>
        On Medium You can make words with 3 or more letters.<br/>
        On Hard You can only make words with 4 or more letters!<br/>
        Some place names and peoples names do not count as words.
    </p>
</div>
