<div id="instructions">
    <h1>Pick A Level</h1>

    <p class="lead">
        Play through the Word Smashing campaign in any difficulty!<br/>
        New boards and smashable locks!
    </p>
</div>
