<div class="article-theme">

    <h1>Contact Word Smashing</h1>

    <p class="lead">Contact Word Smashing by email: <a href="mailto:lee.penkman@wordsmashing.com"
                                                       title="contact word smashing">lee.penkman@wordsmashing.com</a>
    </p>

    <p class="lead">Word smashing is a free online word search puzzle fun for the whole family!</p>
</div>
