<div class="main-game-wrapper">

    <div class="mm-logo">
        <div class="mm-starbar mm-starbar--center">

        </div>
        <div class="mm-starbar2 mm-starbar--center">

        </div>
        <div class="mm-bonus-message">
        </div>
        <div class="mm-end-message">
            <p>Excellent!</p>
        </div>
        <div class="gameon-level-controls">
            <div class="left">
                <a id="mm-replay" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Replay
                </a>
            </div>
            <div class="right">
                <a id="mm-next-level" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg disabled"
                        ><span
                        class="fa fa-lock"></span>Next
                </a>
            </div>
            <div class="clear"></div>
            <div class="text-center">
                <a href="/" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Menu
                </a>
            </div>
        </div>
        <p class="mm-sharing-btns">
            {% set encoded_desc = urlencode('') -%}
            {% set encoded_desc_short = urlencode('') -%}
            Share <a href="#" class="facebook-share-btn" title="Share on Facebook"><i
                class="fa fa-facebook-square mm-share-btn"></i> </a>
            <a href="https://twitter.com/intent/tweet?url={{ urlencode(url) }}&text={{ encoded_desc_short }}"
               target="_blank" rel="nofollow" title="Tweet on Twitter">
                <i class="fa fa-twitter-square mm-share-btn mm-share-btn--twitter"></i>
            </a>
            <a href="https://pinterest.com/pin/create/bookmarklet/?url={{ urlencode(url) }}&description={{ encoded_desc }}"
               target="_blank" rel="nofollow" title="Pin on pinterest">
                <i class="fa fa-pinterest-square mm-share-btn mm-share-btn--pinterest"></i>
            </a>
            <a href="https://plus.google.com/share?url={{ urlencode(url) }}"
               target="_blank" rel="nofollow" title="Share on Google Plus">
                <i class="fa fa-google-plus-square mm-share-btn mm-share-btn--google-plus"></i>
            </a>
            <a href="http://www.linkedin.com/shareArticle?url={{ urlencode(url) }}&title={{ encoded_desc }}"
               target="_blank" rel="nofollow" title="Share on Linkedin">
                <i class="fa fa-linkedin-square mm-share-btn mm-share-btn--linked-in"></i>
            </a>
            <a href="http://www.stumbleupon.com/submit?url={{ urlencode(url) }}&title={{ encoded_desc }}"
               target="_blank" rel="nofollow" title="Share on Stumble Upon">
                <i class="fa fa-stumbleupon-circle mm-share-btn mm-share-btn--stumbleupon"></i>
            </a>
            <a href="http://reddit.com/submit?url={{ urlencode(url) }}&title={{ encoded_desc_short }}"
               target="_blank" rel="nofollow" title="Share on reddit">
                <i class="fa fa-reddit mm-share-btn"></i>
            </a>
        </p>

    </div>
</div>
