<div class="main-game-wrapper">

    <div class="mm-logo">
        <div class="mm-starbar mm-starbar--center">

        </div>
        <div class="mm-bonus-message">
        </div>
        <div class="mm-end-message">
            <p>Excellent!</p>
        </div>
        <div class="gameon-level-controls">
            <div class="left">
                <a id="mm-replay" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Replay
                </a>
            </div>
            <div class="right">
                <a id="mm-next-level" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg disabled"
                        ><span
                        class="fa fa-lock"></span>Next
                </a>
            </div>
            <div class="clear"></div>
            <div class="text-center">
                <a href="/" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Menu
                </a>
            </div>
        </div>
    </div>
</div>
