<div class="footer">
    <p>
        {% if '/contact' == path %}
            <span>Contact</span>
        {% else %}
            <a class="footer__link" href="/contact" title="Contact Us" onclick="return gameon.gotoLink(this)"
               target="_blank" data-bypass="1">Contact</a>
        {% endif %}
        {% if '/about' == path %}
            <span>About Us</span>
        {% else %}
            <a class="footer__link" href="/about" title="About Word Smashing" onclick="return gameon.gotoLink(this)"
               target="_blank" data-bypass="1">About Us</a>
        {% endif %}
        {% if '/terms' == path %}
            <span>Terms &amp; Conditions</span>
        {% else %}
            <a class="footer__link" href="/terms" title="Terms &amp; Conditions" onclick="return gameon.gotoLink(this)"
               target="_blank" data-bypass="1">Terms &amp; Conditions</a>
        {% endif %}
        {% if '/privacy-policy' == path %}
            <span>Privacy Policy</span>
        {% else %}
            <a class="footer__link" href="/privacy" title="Privacy Policy" onclick="return gameon.gotoLink(this)"
               target="_blank" data-bypass="1">Privacy Policy</a>
        {% endif %}
           <br />
        <span>© 2013 <a class="footer__link" href="http://www.addictingwordgames.com" title="Addicting Word Games"
                        target="_blank">Addicting Word Games</a></span>
        <a href="http://www.facebook.com/WordSmashing" title="Word Smashing on Facebook" target="_blank">
            <img src="/static/img/facebook.jpg" alt="Word Smashing on Facebook" width="144" height="44">
        </a>

    <div class="g-plus" data-href="//plus.google.com/116949277834973226564" data-rel="publisher"></div>

    <!-- Place this tag after the last badge tag. -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <br/>
    <a href="https://twitter.com/Wordsmashing" class="twitter-follow-button" data-show-count="false"
       data-size="large">Follow @Wordsmashing</a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>
    </p>
</div>
