<div class="main-game-wrapper">

    <div class="mm-logo">
        <div class="gameon-level-controls gameon-level-controls--small-tiles">
            <div class="mm-end-condition">
                <p>Time: <span class="gameon-clock"></span></p>
            </div>
            <div class="mm-volume">

            </div>
            <div class="clear"></div>
            <div class="mm-starbar">

            </div>
            <div class="mm-starbar2">

            </div>
            <div class="learn-english-level_required-words">

            </div>
        </div>
    </div>
    <div class="mm-level gameon-board gameon-board--small-tiles">

    </div>
</div>
