<div class="ws-logo">
    <a href="/" title="Word Smashing Word Puzzle">
        <img src="/static/img/wordsmashing_logo.png" alt="Word Smashing" title="Word Smashing" width="250" height="184">
    </a>
</div>
