<div id="instructions" style="display: none">
    <h1>Learn English {{ level.name }}</h1>

    <p class="lead">
        Which english words are you going to learn?<br/>
        Make as many {{ level.name|lower }} as you can!<br/>
        Get words up, down, back and forward but don't run out of space!
    </p>
</div>
<div class="learn-english-level_game">

</div>
<div class="ws-main-btn-container">
    <button class="ws-help-btn btn btn-large btn-danger gameon-btn-hg" type="button">?</button>
</div>
