<div class="ws-main-content">

    <a class="ws-play-btn btn btn-large btn-success gameon-btn-hg" href="/campaign">Play Now!</a>
    <a class="ws-play-btn btn btn-large btn-success gameon-btn-hg" href="/classic">Classic</a>
    <a class="ws-play-btn btn btn-large btn-success gameon-btn-hg" href="/versus">VS</a>
</div>
