<div id="instructions" style="display:none">
    <h1 style="display:none">Word Smashing</h1>

    <p class="lead" style="display:none">Word smashing is a free online word search puzzle.</p>

    <p class="lead"><b>Instructions:</b><br/>
        Make words! lots of words! two at once or heaps in a row for bonus points!<br/>
        Get words up, down, forward and backwards!<br/>
        To move, click a letter and click a space!<br/>
        You can move if there's a clear path!<br/>
        Each turn 3 more letters appear, when the board fills up its game over!<br/>
        Some people &amp; place names don't count!<br/>
    </p>
</div>

<div class="ws-main-content">

    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/campaign">Play Now!</a>
    </div>
    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/classic">Classic</a>
    </div>
    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/versus">VS</a>
    </div>
    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/learn-english">Learn English</a>
    </div>
    <div class="ws-main-btn-container">
        <button class="ws-help-btn btn btn-large btn-danger gameon-btn-hg" type="button">?</button>
    </div>
</div>
